<h1>
    <a href="/films/<%= imdbID %>">
        <%= title %> 
    </a>
</h1>
<h3>
    <%= year %> 
</h3>
<p>
    <%= plot %> 
</p>

<form action="/faves/addFave" method="POST">
    <input hidden type="text" name="title" value="<%= title %>">
    <input hidden type="text" name="imdbId" value="<%= imdbID %>">
    <button type="submit">Add to Favorites</button>
</form>