<h2>Favorite Star Wars Planets</h2>

<%results.forEach(result => {%>
        <div>
            <h1>Name: <%= result.name %></h1>
            <h2>Population: <%= result.population %></h2>
            <h2>Terrain: <%= result.terrain %></h2>
            <h2>Gravity: <%= result.gravity %></h2>
            <h2>Diameter: <%= result.diameter %></h2>
        </div>
        <a href="/favePlanets/edit/<%= result.id %>">edit</a>
    <form action="/favePlanets/<%= result.name %>?_method=DELETE" method="POST">
        <button type="submit">Remove From Favorites</button>
    </form>
<%})%>