<link rel="stylesheet" href="/static/css/style.css">
<h1>People List</h1>


<% swPeople1.forEach(name => { %>
    <br><br>
    <div><a href="/people/<%= name.name %>"><%= name.name %></a><br>
    </div>
<% }) %>
<% swPeople2.forEach(name => { %>
    <br><br>
    <div><a href="/people/<%= name.name %>"><%= name.name %></a> <br>
    </div>
<% }) %>
<% swPeople3.forEach(name => { %>
    <br><br>
    <div><a href="/people/<%= name.name %>"><%= name.name %></a> <br>
    </div>
<% }) %>
<% swPeople4.forEach(name => { %>
    <br><br>
    <div><a href="/people/<%= name.name %>"><%= name.name %></a> <br>
    </div>
<% }) %>
<% swPeople5.forEach(name => { %>
    <br><br>
    <div><a href="/people/<%= name.name %>"><%= name.name %></a> <br>
    </div>
<% }) %>
<% swPeople6.forEach(name => { %>
    <br><br>
    <div><a href="/people/<%= name.name %>"><%= name.name %></a> <br>
    </div>
<% }) %>
<% swPeople7.forEach(name => { %>
    <br><br>
    <div><a href="/people/<%= name.name %>"><%= name.name %></a> <br>
    </div>
<% }) %>
<% swPeople8.forEach(name => { %>
    <br><br>
    <div><a href="/people/<%= name.name %>"><%= name.name %></a> <br>
    </div>
<% }) %>
<% swPeople9.forEach(name => { %>
    <br><br>
    <div><a href="/people/<%= name.name %>"><%= name.name %></a> <br>
    </div>
<% }) %>
