<h1>Planets List</h1>

<% swPlanets1.forEach(planet => { %>
    <br><br>
    <div><%= planet.name %> <br>
    </div>
<% }) %>
<% swPlanets2.forEach(planet => { %>
    <br><br>
    <div><%= planet.name %> <br>
    </div>
<% }) %>
<% swPlanets3.forEach(planet => { %>
    <br><br>
    <div><%= planet.name %> <br>
    </div>
<% }) %>
<% swPlanets4.forEach(planet => { %>
    <br><br>
    <div><%= planet.name %> <br>
    </div>
<% }) %>
<% swPlanets5.forEach(planet => { %>
    <br><br>
    <div><%= planet.name %> <br>
    </div>
<% }) %>
<% swPlanets6.forEach(planet => { %>
    <br><br>
    <div><%= planet.name %> <br>
    </div>
<% }) %>
