<h1>Planets List</h1>

<% swPlanets1.forEach(planet => { %>
    <br><br>
    <div><a href="/planets/<%= planet.name %>"><%= planet.name %></a>
    </div>
<% }) %>
<% swPlanets2.forEach(planet => { %>
    <br><br>
    <div><a href="/planets/<%= planet.name %>"><%= planet.name %></a> <br>
    </div>
<% }) %>
<% swPlanets3.forEach(planet => { %>
    <br><br>
    <div><a href="/planets/<%= planet.name %>"><%= planet.name %></a> <br>
    </div>
<% }) %>
<% swPlanets4.forEach(planet => { %>
    <br><br>
    <div><a href="/planets/<%= planet.name %>"><%= planet.name %></a> <br>
    </div>
<% }) %>
<% swPlanets5.forEach(planet => { %>
    <br><br>
    <div><a href="/planets/<%= planet.name %>"><%= planet.name %></a> <br>
    </div>
<% }) %>
<% swPlanets6.forEach(planet => { %>
    <br><br>
    <div><a href="/planets/<%= planet.name %>"><%= planet.name %></a> <br>
    </div>
<% }) %>
