<h1>Person Details</h1><br><br>
<h1>Name: <%= name %></h1>
<h2>Homeworld: <%= homeworld %></h2>
<h2>Born: <%= birthYear %></h2>
<h2>Height: <%= height %></h2>
<h2>Hair Color: <%= hair %></h2>
<h2>Eye Color: <%= eyes %></h2>